
$white: #fff;
$yellow: #f8c74d;
$blue: #4787f2;
$border-blue: #2d8cf0;
$bg-blue: rgba(71, 135, 242, 0.1);
$purple: #6d6bc6;
$purple1: #985ecf;
$golden: #e7c083;
// $green1: #E9F8F1;
$green: #26be76;
$dark-green: #22a265;
$light-green: #26be767f;
$lighter-green: #e9f8f1;
$green-bg: #f4fcf8;
$light-gray: #88828e;
$thin-green: rgba($green, 0.1);

$purple-blue: #584f60;
$dark-purple-blue: #3d3346;
$light-purple-blue: #4f4459;
$light-white: #fbfbfb;

$red: #d60050;
$dark-red: #d9333f;
$light-red: #ff005f;

$orange: #fad795;
$light-orange: #fdeed2;
$gold: #dcad3c;
$gold-yellow: #d8bc8a;
$orange-yellow: #ff6a31;
$dark-orange: #f6a742;
$deep-orange: #ffa227;
$light-orange: #fcf4d2;
$beans: #ff9903;
$tinge-pink: #fff8f4;
$pink: #ffeeef;

// aaaaaa格式，就是 $caaa格式
// ababab格式，就是 $ab
$c111: #111;
$c333: #333;

$c555: #555;
$c99: #999;
$c97: #979797;
$cd8: #d8d8d8;
$cf0: #f0f0f0;
$cf7: #f7f7f7;
$ccc: #ccc;
$c3e5: #e5e5e5;
$ce8: #e8e8e8;
$date-orange: #fe5f4b;
$dark-gold: #a46e3f;
$link-blue: #108de7;
$c666: #666;
$cf5: #f5f5f5;
$c82: #828282;
$c86: #868686;
$ccd: #cdcdcd;
$wechat: #09bb07;
$alipay: #0ae;

$body: #f5f6fa;
$black: #000;
$cf9: #f9f9f9;
$c888: #888;
$cf2: #f2f2f2;
$cf8: #f8f8f8;
$c2b: #2b2b2b;
$cbb: #bbb;
$c1c: #c1c1c1;
$title-black: #2a2825;
$brown: #91744a;
$title-gray: #a17842;
$thin-gray: #eeeeed;
$orange2: #fccf93;
$list-title-black: #2e3136;
$list-time-black: #9c9fa6;
$purple-balck: #7b79d3;
$cbf: #bfbfbf;
$card-black: #2a2a2a;
$c90: #909090;
$black-dark2: #2d3135;
$dark-gray: #9b9ea5;
$gray-bg: #e8e6f1;
$pale: #eeedee;
$brown-deep: #7d5520;
$brown-black: #694117;
$active-blue: #0a99ff;
$red-orange: #e8541e;
// gradient
$gradient-purple: #7564c5;
$gradient-blue: #88a9f4;

$linear: -40deg, $red 0%, $red 5%, $white 5%, $white 10%, $blue 10%, $blue 15%, $white 15%, $white 20%;

// tip
$success: #26d197;
$fail: #ef1818;
$audit: #5491fe;

// table
$table-title: #fafafa;
